.main-container{
    display: flex;
    margin-top: 200px;
}

.cart-detail-container {
    background-color: #FFE0B3;
    padding: 20px;
    border-radius: 10px;
}


@media screen and (max-width: 1280px) {
    .main-container{
        width: 400px;
        flex-direction: column;
    }
}
