.cart-item {
    width: 60%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
}

.item-img-container {
    width: 20%;
}

.item-detail-container {
   width: 60%;
}

.remove-item-btn-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.remove-item-btn-container  button {
    color: #D20303;
    border: 0;
    background-color: white;
}

.cart-item .item-img-container img {
    height: 100px;
}

.detail-title {
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .cart-item {
        width: 100%;
    }
    .item-img-container {
        width: 30%;
    }
    
    .item-detail-container {
       width: 80%;
    }
    
    .remove-item-btn-container {
        width: 10%;
        font-size: 30px;
    }
    .detail-title {
        margin-left: 10px;
    }
}
