
footer {
    display: flex;
    background-color: skyblue;
    padding: 20px 0;
    height: 200px;
    align-items: center;
}
.link-container {
    display: flex;
    /* max-width: 100%; */
    margin: 0 auto;
    justify-content: center;
}

.footer-link {
color: white;
margin-right: 10px;
}

.footer-link:hover {
color: gray;
transition: .2s;
}
