:root {
    --form-color: #FFA500;
  }

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}

.form-container form h5 {
    text-align: center;
    color: var(--form-color);
    font-weight: 700;
    font-size: 25px;
}

.form-container form {
    width: 320px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px lightslategray;
}

.form-container input {
    border: 0;
    outline: 1px solid var(--form-color);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
}

.form-container form label {
    margin: 20px 0 0;
    color: lightslategray;
    font-size: 12px;
}

.form-container form .login-btn {
    border: 0;
    outline: 1px solid var(--form-color);
    background-color: var(--form-color);
    color: white;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.form-container form .login-btn:hover {
    background-color: rgb(243, 158, 0);
    transition: .5s all;
}

.form-container form small {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.form-container form .error {
    font-size: 12px;
    text-align: start;
    color: red;
}

.form-container form .or-line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-container form .or-line div {
    width: 120px;
    outline: 1px solid lightslategray;
}

.form-container form .social-btn {
    border: 0;
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container form .social-btn .social-icon-wrapper {
    width: 1%;
    font-size: 17px;
}

.form-container form .social-btn .social-btn-text-wrapper {
    width: 99%;
}

.form-container form .social-btn .social-btn-text-wrapper small {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
}
